.navBar {
  display: flex;
  justify-content: space-around;
}

.link {
  color: #fff;
  font-size: x-large;
}

.icon {
  height: 60px;
  width: 60px;
}
.active {
  color: rgb(178, 85, 255);
}
.navBarLinks {
  width: 438px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
