.navBar {
  display: flex;
  justify-content: space-evenly;
  height: 70px;
  align-items: center;
  gap: 5px;
}

.link {
  color: #fff;
  font-size: x-large;
}

.icon {
  height: 60px;
  width: 60px;
}
.active {
  color: rgb(178, 85, 255);
}
.navBarLinks {
  width: 438px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.themeBlack {
  background: black;
}

.iconTheme {
  width: 40px;
  height: 40px;
}
.iconThemeYellow {
  color: yellow;
}
